<!doctype html>
<html lang="{{ site.lang }}" data-theme="dark">
  <head>
    {% include head.liquid %}
  </head>
  <body>
    {% include nav.liquid %}
    <main id="main-content">
      {{ content }}
    </main>
    {% include footer.liquid %}
  </body>
</html>
